/* css for center mode slider */
.slider {
    position: relative;
    z-index: 200;
    padding: 0 0px;
    margin: 5rem auto;
    /* max-width: 800px; */
    width: 100%;
  }
  
  .item.slick-slide {
    width: 400px;
    height: 400px !important;
    transition: transform .4s;
    position: relative; 
  }
  
  .item.slick-slide {
    transform: scale(0.7)  translate(640px);
  }
  
  .item.slick-slide.slick-center + .slick-slide {
    transform: scale(0.8) translate(-250px);
    z-index: 10;
  }
  
  .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
    transform: scale(0.7)  translate(-640px);
    z-index: 5;
  }
  
  .item.slick-slide.slick-active {
    transform: scale(0.8) translate(250px);
  }
  
  .item.slick-slide.slick-center {
    /* margin: 0 -10%; */
    transform: scale(1);
    z-index: 30;
  }
  
  .slick-center:after {
    opacity: 0;
  }